---
const links = [
  { name: "Listado", href: "/" },
  { name: "Paginado", href: "/pokemons/1" },
  { name: "Favoritos", href: "/favorites" },
];

const currentPath = Astro.url.pathname;
---

<!-- component -->
<nav class="shadow bg-slate-900">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
  >
    {
      links.map((link) => (
        <a
          href={link.href}
          class:list={[
            "text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6",
            currentPath == link.href ? "border-b-2 border-blue-500" : "",
          ]}
        >
          {link.name}
        </a>
      ))
    }
  </div>
</nav>
