---
const links = [
  { name: "Listado", href: "/" },
  { name: "Paginado", href: "/pokemons/1/" },
  { name: "Favoritos", href: "/favorites/" },
  { name: "Islas 1", href: "/islands/island1/" },
  { name: "Islas 2", href: "/islands/island2/" },
];

const currentPath = Astro.url.pathname;
---

<!-- component -->
<nav class="shadow bg-slate-900">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
  >
    {
      links.map((link) => (
        <div>
          <a
            href={link.href}
            class="text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6"
          >
            {link.name}
          </a>

          {link.href == currentPath ? (
            <div
              class="border-b-2 border-blue-500 mx-4"
              transition:name="navbar-line"
            />
          ) : (
            <div
              class="border-b-2 border-transparent mx-4"
            />
          )}
          
        </div>
      ))
    }
  </div>
</nav>
