---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Favoritos">
  <Title>Pokemon Favoritos</Title>
  <p class="text-lg text-slate-300">
    Aquí puedes encontrar una lista de tus Pokemon favoritos.
  </p>
</MainLayout>
