---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Favoritos">
  <h1 class="text-4xl font-bold mb-6">Pokemon Favoritos</h1>
  <p class="text-lg text-slate-300">Aquí puedes encontrar una lista de tus Pokemon favoritos.</p>
</MainLayout>