---
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Pokemon static | Favoritos">
  <Title>Pokemon favoritos</Title>

  <FavoritePokemons client:only="solid-js"></FavoritePokemons>
</MainLayout>
